[Unit]
Description=Sandbox setup service of %I
After=basic.target
Before=%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sandbox-setup-before.%i.sh

[Install]
WantedBy=multi-user.target
