[Unit]
Description=Sandbox setup service of %I
After=basic.target %i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sandbox-setup-after.%i.sh

[Install]
WantedBy=multi-user.target
