[Unit]
Description=PQ Server Startup
After=binder.service

[Service]
User=root
ExecStartPre=/usr/bin/pqserver_precheck.sh
ExecStart=/usr/bin/pqservice

[Install]
WantedBy=multi-user.target
