[Unit]
Description=PQ Server Startup
After=binder.service
RequiresMountsFor=/vendor/etc/tvconfig/pq

[Service]
User=root
ExecStart=/usr/bin/pqservice

[Install]
WantedBy=multi-user.target
