[Unit]
Description=Subtitle Server Startup
After=binder.service

[Service]
User=root
Environment="WAYLAND_DISPLAY=subtitle-overlay"
ExecStart=/usr/bin/subtitleservice

[Install]
WantedBy=multi-user.target
