[Unit]
Description=binder servicemanager

[Service]
ExecStartPre=/usr/bin/binder.sh
ExecStart=/usr/bin/servicemanager
ExecStop=/bin/kill $MAINPID
KillMode=mixed

[Install]
WantedBy=multi-user.target

