[Unit]
Description=Optee Tee-Supplicant

[Service]
ExecStart=/usr/bin/tee-supplicant
ExecStop=/bin/kill -KILL $MAINPID

[Install]
WantedBy=multi-user.target
