#@TYPE: Machine
#@NAME: meson

#@DESCRIPTION: Machine configuration for meson systems

include conf/machine/include/mesont5d_k5.4_64b.inc

include conf/machine/mesont5d-am311-common.inc

KERNEL_MODULE_AUTOLOAD += " dnlp_alg_64 mxl661_fe_64 rt710_fe_64"
KERNEL_MODULE_AUTOLOAD += " hdr10_tmo_alg_64 "

