#@TYPE: Machine
#@NAME: meson

#@DESCRIPTION: Machine configuration for meson systems

include conf/machine/include/mesont5d_k5.4_32b.inc

include conf/machine/mesont5d-am311-common.inc

KERNEL_DEVICETREE = "t5d_t950x4_am311_linux_1g.dtb t5d_t950x4_am311_linux_512m.dtb"

KERNEL_MODULE_AUTOLOAD += " dnlp_alg_32 mxl661_fe_32 rt710_fe_32 "

