[Unit]
Description=dtvkit service
After=basic.target
Before=wpeframework.service
Wants=network-online.target local-fs.target

[Service]
User=system
AmbientCapabilities=CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_DAC_OVERRIDE
ExecStart=/usr/bin/dtvkitserver
ExecStop=/bin/kill $MAINPID
KillMode=mixed
Environment="CAS_TYPE=nagra"
Environment="NAGRA_CAS_EMI=0x4020"
Environment="DTVKIT_EXT=/usr/lib/libdtvkit_ota_monitor.so"
Environment="IRDETO_REGIONAL_FILTER_ENABLE=1"

[Install]
WantedBy=multi-user.target
