[Unit]
Description=TV Server Startup
After=binder.service

[Service]
User=system
AmbientCapabilities=CAP_DAC_OVERRIDE
CapabilityBoundingSet=CAP_DAC_OVERRIDE
ExecStart=/usr/bin/tvservice

[Install]
WantedBy=multi-user.target
