[Unit]
Description=hdmi control service
After=binder.service

[Service]
User=root
ExecStart=/usr/bin/hdmi-control-service

[Install]
WantedBy=multi-user.target
