[Unit]
Description=swupdate
ConditionPathExists=!/data

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/bin/swupdate.sh rootfs_type

[Install]
WantedBy=multi-user.target
