[Unit]
Description=Arka DVB application
Requires=dtvkit.service
After=dtvkit.service

[Service]
Environment="iptv_streamtype=0"
Environment="LOW_MEM_PLATFORM=1"
Environment="TSPLAYER_SUBTILTEFLAG=2"
ExecStart=/usr/bin/Arka

[Install]
WantedBy=multi-user.target
