[Unit]
Description=Arka DVB application
Requires=dtvkit.service
After=dtvkit.service

[Service]

ExecStart=/usr/bin/Arka

[Install]
WantedBy=multi-user.target
