[Unit]
Description=Formats listed device nodes in the script into ext4.
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target var-lib.mount umount.target

[Service]
Type=simple
Environment="SCRIPT_ARGS=%I"
ExecStart=/usr/bin/format-to-ext4.sh $SCRIPT_ARGS
