[Unit]
Description=qt launcher start, env setting
After=boot-animation.service

[Service]
Type=forking
User=root
ExecStart=/bin/sh -c "/usr/bin/qtlauncher.sh start"
Restart=on-failure

[Install]
WantedBy=multi-user.target
