[Unit]
Description=Weston Wayland Compositor
RequiresMountsFor=/run

[Service]
User=root
PAMName=login
EnvironmentFile=-/etc/default/weston
ExecStart=/usr/bin/weston-start -v -e -- $OPTARGS
ExecStartPre=/bin/sh -c 'echo 1 > /sys/module/aml_drm/parameters/video_axis_zoom'

[Install]
WantedBy=multi-user.target

