[Unit]
Description=hdcp Startup
After=aml_key_inject.service

[Service]
User=root
Type=oneshot
ExecStart=/usr/bin/tee_hdcp -o /lib/firmware/hdcp/firmware.le

[Install]
WantedBy=multi-user.target
