[Unit]
Description=HDCP firmware load
After=tee-supplicant.service aml_hdcp.service pwrmgr.service
Requires=tee-supplicant.service aml_hdcp.service

[Service]
Type=forking
User=root
ExecStartPre=tee_hdcp -i /lib/firmware/hdcp/firmware.le -o /tmp/firmware.le
ExecStart=/bin/sh -c '/usr/bin/hdcp_rx22 -f /tmp/firmware.le&'

[Install]
WantedBy=multi-user.target
